.dropzoneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.dropzone {
  border: 2px dashed #007bff;
  padding: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.previewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  max-height: 150px; /* Set the visible height */
  overflow-y: auto;  /* Enable vertical scroll */
  justify-content: center;
}

.previewThumb {
  position: relative;
  width: 100px; /* Adjust width */
  height: 130px; /* Adjust height */
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack the image and remove button vertically */
  justify-content: space-between;
}

.previewImage {
  object-fit: cover;
  width: 100%;
  height: 80%; /* Ensure image takes most of the space */
}

.fileName {
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

.removeButton {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 14px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeButton:hover {
  background-color: darkred;
}

.text-danger {
  font-size: 14px;
  margin-top: 10px;
}
