.invitations-badge{
    position: relative;
    top: -5.5px;
}

.logout-item {
    color: 	#DC3545 !important;
    transition: background 0.3s ease, color 0.3s ease !important; /* Smooth effect */
}

.logout-item:hover {
    background-color: 	#DC3545 !important;
    color: white !important;
}

.disabled-link-full-name {
    pointer-events: none;
    cursor: default; /* Optional: change the cursor to indicate it's unclickable */
  }